
/* ==========================================================================
    LISTS
   ========================================================================== */

ul {
    list-style-position: inside;
}

.compact-list {
	@extend .margin-off;

	li {
		color: #ccc;
		font-family: arial;
		font-size: 0.813em;
		list-style-type: none;
		margin-top: 0.2em;

		a {
			color: $secondary-color;
		}
	}
}
