/* ==========================================================================
    NAVIGATION
   ========================================================================== */

.main-nav {
	@extend .clearfix;
	@extend .margin-off-all;

	color: white;
	float: left;
	font-family: $heading-family;

	li {
		float: left;
		font-size: 0.875em;
		list-style-type: none;
		text-transform: uppercase;

		&.active {
			color: #99CA3E;
		}

		&:after {
			color: white !important;
			content: "/";
			margin-left: 1rem;
			margin-right: 1rem;
		}

		&:last-of-type {
			&:after {
				display: none;
			}
		}
	}
}

.main-nav__login {
	@extend .margin-off;
	
	float: right;
	font-size: .75em;
	text-align: right;

	a {
		color: white;

		&:after {
			color: white !important;
			content: "|";
			margin-left: .3em;
			margin-right: .3em;
		}

		&:hover {
			color: $primary-color;
		}

		&:last-of-type {
			&:after {
				display: none;
			}
		}
	}
}