
/* ==========================================================================
    ROOT
   ========================================================================== */

/* Define the root element styles. */
html {
    background: $root-background;
    box-sizing: border-box;
    color: $root-color;
    overflow-y: scroll;

    -ms-overflow-style: -ms-autohiding-scrollbar;
    -ms-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
}

/*
 * Border-box *all the things*, as suggested in:
 * http:// paulirish.com/2012/box-sizing-border-box-ftw
 */

*, *:before, *:after {
    box-sizing: inherit;
}

/*
 * Lobotomized owls FTW!
 * http://alistapart.com/article/axiomatic-css-and-lobotomized-owls
 */

* + * {
    margin-top: 1em;
}

@if $opentype == true {

    // Turn on kerning, standard ligatures, and proportional and oldstyle numerals.
    // Turn off all other ligatures, tabular, lining numerals and alternates.

    html,
    body {
        -webkit-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
        -moz-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
        font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
    }
}

/* Style the body element styles. */
body {
    background-image: url("../images/natural_paper.png");
    font: #{$root-weight} #{$root-size-em}/#{$root-lineheight} $root-family;
    margin: 0;
    @include font-smoothing;
}

/* Colour selected text. */
 ::-moz-selection {
    background-color: $brand-color;
    color: #fff;
    text-shadow: none;
}

::selection {
    background-color: $brand-color;
    color: #fff;
    text-shadow: none;
}
