/* BASE */
/* ========================================================================== */
@font-face {
  font-family: "ubuntu";
  src: url("/fonts/ubuntu-regular-webfont.eot?#iefix");
  src: url("/fonts/ubuntu-regular-webfont.eot?#iefix") format("eot"), url("/fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("/fonts/ubuntu-regular-webfont.woff") format("woff"), url("/fonts/ubuntu-regular-webfont.ttf") format("truetype"), url("/fonts/ubuntu-regular-webfont.svg#ubuntu") format("svg"); }

.small-text {
  font-size: 14px; }

.smaller-text {
  font-size: 12px; }

.large-text {
  font-size: 24px !important; }

.larger-text {
  font-size: 38px !important; }

.center-text {
  text-align: center; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.clearfix:before, .main-nav:before, .page-header__main-nav:before, .grid-wrapper:before, .clearfix:after, .main-nav:after, .page-header__main-nav:after, .grid-wrapper:after {
  content: "";
  display: table; }

.clearfix:after, .main-nav:after, .page-header__main-nav:after, .grid-wrapper:after {
  clear: both; }

/* Stop lobotomising one owl */
.margin-off, .compact-list, .main-nav__login, .page-footer__nav li, .card, .card-job__desc, .content, .cta-form > *, .grid-item, [class*="-row"], .row {
  margin-top: 0; }

/* Stop lobotomising all owls */
.margin-off-all, .main-nav, .page-footer, .page-header, .page-header__secondary-nav, .cta-form__item, .cta-form__form-group,
.margin-off-all > *, .main-nav > *, .page-footer > *, .page-header > *, .page-header__secondary-nav > *, .cta-form__item > *, .cta-form__form-group > * {
  margin-top: 0; }

@media only screen and (min-width: 35rem) {
  .margin-sm-on {
    margin-top: 1em; } }

@media only screen and (min-width: 48rem) {
  .margin-sm-on {
    margin-top: 0; } }

@media only screen and (min-width: 48rem) {
  .margin-md-on {
    margin-top: 1em; } }

@media only screen and (min-width: 61rem) {
  .margin-md-on {
    margin-top: 0; } }

/* Vertically and horizontally center a thing */
.center {
  margin-top: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.vis-none {
  visibility: hidden; }

/* ==========================================================================
    RESET
   ========================================================================== */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
picture,
section {
  display: block; }

/* ELEMENTS */
/* ========================================================================== */
/* ==========================================================================
    ROOT
   ========================================================================== */
/* Define the root element styles. */
html {
  background: #fff;
  box-sizing: border-box;
  color: #444444;
  overflow-y: scroll;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%; }

/*
 * Border-box *all the things*, as suggested in:
 * http:// paulirish.com/2012/box-sizing-border-box-ftw
 */
*, *:before, *:after {
  box-sizing: inherit; }

/*
 * Lobotomized owls FTW!
 * http://alistapart.com/article/axiomatic-css-and-lobotomized-owls
 */
* + * {
  margin-top: 1em; }

html,
body {
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
  -moz-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0; }

/* Style the body element styles. */
body {
  background-image: url("../images/natural_paper.png");
  font: 400 1em/1.5 arial;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* Colour selected text. */
::-moz-selection {
  background-color: #99CA3E;
  color: #fff;
  text-shadow: none; }

::selection {
  background-color: #99CA3E;
  color: #fff;
  text-shadow: none; }

/* ==========================================================================
    HEADINGS
   ========================================================================== */
h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
  color: #545454;
  display: block;
  font-family: ubuntu;
  font-weight: 400;
  line-height: 1.1;
  text-transform: uppercase;
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
  -moz-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1; }

/*
 * Size increments are set according to our chosen modular scale.
 * Increments for h4 and h5 are zeroed out (1em) at smaller sizes
 * to maintain legibility.
 */
h1,
.alpha {
  font-size: 1.3rem; }

h2,
.beta {
  font-size: 1.3rem; }

h3,
.gamma {
  font-size: 1rem; }

h4,
.delta {
  font-size: 1em; }

h5, .epsilon,
h6, .zeta {
  font-size: 1em; }

/* ==========================================================================
    IMAGES
   ========================================================================== */
/* Fluid images. */
img {
  max-width: 100%;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

/* ==========================================================================
    LINKS
   ========================================================================== */
a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #99CA3E;
  text-decoration: none; }
  a:hover, a:focus {
    color: #7da72e; }
  a:active, a.active {
    color: #5f7f23; }

/* ==========================================================================
    LISTS
   ========================================================================== */
ul {
  list-style-position: inside; }

.compact-list li {
  color: #ccc;
  font-family: arial;
  font-size: 0.813em;
  list-style-type: none;
  margin-top: 0.2em; }
  .compact-list li a {
    color: #2370A9; }

/* ==========================================================================
    NAVIGATION
   ========================================================================== */
.main-nav {
  color: white;
  float: left;
  font-family: ubuntu; }
  .main-nav li {
    float: left;
    font-size: 0.875em;
    list-style-type: none;
    text-transform: uppercase; }
    .main-nav li.active {
      color: #99CA3E; }
    .main-nav li:after {
      color: white !important;
      content: "/";
      margin-left: 1rem;
      margin-right: 1rem; }
    .main-nav li:last-of-type:after {
      display: none; }

.main-nav__login {
  float: right;
  font-size: .75em;
  text-align: right; }
  .main-nav__login a {
    color: white; }
    .main-nav__login a:after {
      color: white !important;
      content: "|";
      margin-left: .3em;
      margin-right: .3em; }
    .main-nav__login a:hover {
      color: #99CA3E; }
    .main-nav__login a:last-of-type:after {
      display: none; }

/* MODULES */
/* ========================================================================== */
.browsehappy {
  display: block;
  width: 100%;
  height: 100px;
  background-color: #f2dede;
  margin: 0 0 10px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 22px;
  line-height: 1.4;
  color: #333;
  vertical-align: middle; }

.browsehappy span {
  vertical-align: middle;
  margin: 20px 20px 20px 20px;
  background: url("https://cdn.rawgit.com/alrra/browser-logos/master/internet-explorer/internet-explorer_64x64.png") no-repeat;
  height: 64px;
  width: 64px;
  display: inline-block; }

/* ==========================================================================
    FOOTER
   ========================================================================== */
.page-footer {
  background-color: #292929;
  color: #fff;
  padding-bottom: 1.813rem;
  padding-top: 1.813rem;
  position: relative; }

.page-footer__back-to-top {
  position: absolute;
  top: 1em;
  right: 1em; }

.page-footer__heading {
  color: #fff; }

.page-footer__nav li {
  display: inline-block;
  font-size: 0.813rem; }
  .page-footer__nav li:after {
    content: "|";
    margin-left: 0.313rem;
    margin-right: 0.313rem; }
  .page-footer__nav li:last-of-type:after {
    display: none; }
  .page-footer__nav li a {
    color: white; }
    .page-footer__nav li a:hover {
      color: #99CA3E; }

.page-footer__copyright {
  color: #ccc;
  font-size: 0.688rem; }
  .page-footer__copyright a {
    color: #fff; }
    .page-footer__copyright a:hover {
      color: #99CA3E; }

/* ==========================================================================
    HEADER
   ========================================================================== */
.page-header {
  position: relative;
  background-color: #292929; }

.page-header__brand {
  display: inline-block;
  padding-top: 4.781em; }

.page-header__secondary-nav {
  position: absolute;
  right: 0.625rem;
  top: 0.625rem; }
  .page-header__secondary-nav > * {
    margin-left: .5em; }
  @media only screen and (min-width: 48rem) {
    .page-header__secondary-nav {
      top: 1.5em; }
      .page-header__secondary-nav > * {
        margin-left: 1em; } }

.page-header__main-nav {
  line-height: 1.313em;
  padding-bottom: 1.125em; }
  @media only screen and (min-width: 61rem) {
    .page-header__main-nav {
      margin-top: 2.5em; } }

/* PATTERNS */
/* ========================================================================== */
/* ==========================================================================
    BURGER
   ========================================================================== */
.burgWrapper {
  padding: 31px 0;
  margin-right: 5px;
  float: left; }

.burg {
  display: block;
  height: 2px;
  width: 20px;
  background: #fff;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .burg:before {
    content: '';
    position: absolute;
    top: -6px;
    width: 20px;
    height: 2px;
    background: #fff;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .burg:after {
    content: '';
    position: absolute;
    top: 6px;
    width: 20px;
    height: 2px;
    background: #fff;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .burg.active {
    background: transparent; }
    .burg.active:before {
      -webkit-transform: rotate(45deg);
      top: 0; }
    .burg.active:after {
      -webkit-transform: rotate(-45deg);
      top: 0; }

/* ==========================================================================
    BUTTONS
   ========================================================================== */
.btn {
  padding: 1.25rem 2rem;
  line-height: 1;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer; }
  .btn:active, .btn:hover, .btn:focus {
    background: rgba(0, 0, 0, 0.05); }

.btn-cta {
  background-color: #3cd580;
  color: #fff; }
  .btn-cta:active, .btn-cta:hover, .btn-cta:focus {
    background-color: #2ccc73; }

.btn-submit {
  background-color: #f5b436;
  color: #fff; }
  .btn-submit:active, .btn-submit:hover, .btn-submit:focus {
    background-color: #f4ab1e; }

.card {
  background-color: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.36);
  padding: 1.25em 1.5em;
  position: relative;
  width: 100%; }

.card--up-half {
  top: -0.4em; }

@media only screen and (min-width: 48rem) {
  .card--grid-md-md {
    height: 15.625rem;
    padding: 0.75rem 1.25rem; } }

@media only screen and (min-width: 61rem) {
  .card--grid-lg-md {
    height: 15.625rem;
    padding: 0.75rem 1.25rem; } }

.card--primary {
  background-color: #99CA3E;
  color: white; }
  .card--primary .card__heading {
    color: white; }

.card--round {
  border-radius: 10px; }

.card__heading {
  border-bottom: 2px solid #ccc;
  padding-bottom: 0.5em;
  text-align: center; }

.card__section {
  font-size: 0.813em;
  text-align: left; }

@media only screen and (min-width: 35rem) {
  .card__section--left {
    border-right: 2px solid #ccc;
    float: left;
    padding-right: 1.25em;
    margin-top: 0; } }

.card__section--right {
  margin-top: 2em; }
  @media only screen and (min-width: 35rem) {
    .card__section--right {
      float: left;
      padding-left: 1.25em;
      margin-top: 0; } }

.card__section-div {
  border-bottom: 2px solid #ccc;
  list-style-type: none;
  overflow: auto;
  padding-bottom: 0.75em; }
  .card__section-div:last-of-type {
    border-bottom: 0;
    padding-bottom: 0; }

.card-btn {
  background-color: #545454;
  color: white;
  border-radius: 0.625em;
  display: block;
  font-family: ubuntu;
  font-size: 1rem;
  padding: 1em 0.2em;
  text-align: center;
  text-transform: uppercase; }
  .card-btn:hover {
    background-color: #3b3b3b;
    color: white; }

.card__btn--primary {
  background-color: #99CA3E;
  color: white; }
  .card__btn--primary:hover {
    background-color: #7da72e;
    color: white; }

.card-btn__img {
  margin-left: 5px; }

.card-job {
  line-height: 1.3; }

.card-job__img {
  margin-right: 0.313rem; }

.card-job__heading {
  font-family: arial;
  font-size: 1em;
  margin-top: 0;
  text-transform: none; }

.card-job__desc {
  color: #444444; }

.content {
  margin-bottom: 2.75em; }

.cta {
  display: inline-block;
  font-family: ubuntu;
  line-height: 1;
  padding: 1em 0.75em;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle; }

.cta--full {
  width: 100%; }

.cta--dark {
  background-color: #353535;
  color: #ccc; }

.cta--primary {
  background-color: #99CA3E;
  color: #fff; }

.cta--round {
  border-radius: 100%;
  height: 2.5em;
  padding: 0;
  width: 2.5em; }

.cta--rounded {
  border-radius: 5px; }

.cta--icon {
  background-position: center;
  background-repeat: no-repeat; }

.cta--twitter {
  background-image: url("/images/twitter.png"); }

.cta__icon {
  margin-left: 0.313em; }

.cta-form {
  border: 1px solid #ccc; }
  @media only screen and (min-width: 61rem) {
    .cta-form {
      height: 3.25em;
      line-height: 3.25em;
      padding: 0; } }

.cta-form__form {
  padding: 1em; }
  @media only screen and (min-width: 61rem) {
    .cta-form__form {
      height: 3.25em;
      line-height: 3.25em;
      padding: 0 1em; } }

.cta-form__item {
  float: left; }

.cta-form__form-group {
  margin-top: 1em; }
  .cta-form__form-group:first-of-type {
    margin-top: 0; }
  @media only screen and (min-width: 35rem) {
    .cta-form__form-group {
      display: inline-block;
      margin-top: 0; } }

.cta-form__label {
  display: block;
  text-transform: uppercase;
  vertical-align: middle; }
  @media only screen and (min-width: 35rem) {
    .cta-form__label {
      display: inline-block; } }

.cta-form__input {
  border-bottom: 1px dotted;
  font-family: arial;
  font-size: 0.813em;
  margin-right: 1.250em;
  padding: 0.3em 0;
  width: 10rem; }

.cta-form--up-half {
  top: -0.5em; }

.cta-form__btn {
  background-color: #ccc;
  color: white;
  cursor: pointer;
  display: block;
  font-family: ubuntu;
  font-size: 1em;
  height: 100%;
  line-height: 1.5;
  padding: 0.875em 1em;
  text-align: center;
  text-transform: uppercase;
  width: 100%; }
  .cta-form__btn:hover {
    background-color: #b3b3b3;
    color: white; }

.cta-form__btn--primary {
  background-color: #99CA3E; }
  .cta-form__btn--primary:hover {
    background-color: #7da72e; }

/* ==========================================================================
    FORMS
   ========================================================================== */
button::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin-top: -1px;
  margin-bottom: -1px; }

/* ==========================================================================
    INLINE GRID
   ========================================================================== */
.grid-wrapper {
  margin-left: -0.625rem;
  width: calc(100% + 1.25rem); }
  @media only screen and (min-width: 61rem) {
    .grid-wrapper {
      margin-left: -0.938rem;
      width: calc(100% + 1.876rem); } }

.grid-item {
  float: left;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  width: 100%; }
  @media only screen and (min-width: 61rem) {
    .grid-item {
      padding-left: 0.938rem;
      padding-right: 0.938rem; } }

.grid-item--card {
  margin-top: 1.25rem; }
  @media only screen and (min-width: 61rem) {
    .grid-item--card {
      margin-top: 1.876rem; } }

@media only screen and (min-width: 61rem) {
  .grid-item--sm {
    width: 13.125rem !important; } }

@media only screen and (min-width: 61rem) {
  .grid-item--md {
    width: 20.625rem !important; } }

@media only screen and (min-width: 61rem) {
  .grid-item--lg {
    width: 26.875rem !important; } }

@media only screen and (min-width: 35rem) {
  /* Whole */
  /* Halves */
  .sm-one-half, .sm-two-quarters, .sm-three-sixths, .sm-four-eighths, .sm-five-tenths, .sm-six-twelfths {
    width: 50%; }
  /* Thirds */
  .sm-one-third, .sm-two-sixths, .sm-four-twelfths {
    width: 33.333%; }
  .sm-two-thirds, .sm-four-sixths, .sm-eight-twelfths {
    width: 66.666%; }
  /* Quarters */
  .sm-one-quarter, .sm-two-eighths, .sm-three-twelfths {
    width: 25%; }
  .sm-three-quarters, .sm-six-eighths, .sm-nine-twelfths {
    width: 75%; }
  /* Fifths */
  .sm-one-fifth, .sm-two-tenths {
    width: 20%; }
  .sm-two-fifths, .sm-four-tenths {
    width: 40%; }
  .sm-three-fifths, .sm-six-tenths {
    width: 60%; }
  .sm-four-fifths, .sm-eight-tenths {
    width: 80%; }
  /* Sixths */
  .sm-one-sixth, .sm-two-twelfths {
    width: 16.666%; }
  .sm-five-sixths, .sm-ten-twelfths {
    width: 83.333%; }
  /* Eighths */
  .sm-one-eighth {
    width: 12.5%; }
  .sm-three-eighths {
    width: 37.5%; }
  .sm-five-eighths {
    width: 62.5%; }
  .sm-seven-eighths {
    width: 87.5%; }
  /* Tenths */
  .sm-one-tenth {
    width: 10%; }
  .sm-three-tenths {
    width: 30%; }
  .sm-seven-tenths {
    width: 70%; }
  .sm-nine-tenths {
    width: 90%; }
  /* Twelfths */
  .sm-one-twelfth {
    width: 8.333%; }
  .sm-five-twelfths {
    width: 41.666%; }
  .sm-seven-twelfths {
    width: 58.333%; }
  .sm-eleven-twelfths {
    width: 91.666%; } }

@media only screen and (min-width: 48rem) {
  /* Whole */
  /* Halves */
  .md-one-half, .md-two-quarters, .md-three-sixths, .md-four-eighths, .md-five-tenths, .md-six-twelfths {
    width: 50%; }
  /* Thirds */
  .md-one-third, .md-two-sixths, .md-four-twelfths {
    width: 33.333%; }
  .md-two-thirds, .md-four-sixths, .md-eight-twelfths {
    width: 66.666%; }
  /* Quarters */
  .md-one-quarter, .md-two-eighths, .md-three-twelfths {
    width: 25%; }
  .md-three-quarters, .md-six-eighths, .md-nine-twelfths {
    width: 75%; }
  /* Fifths */
  .md-one-fifth, .md-two-tenths {
    width: 20%; }
  .md-two-fifths, .md-four-tenths {
    width: 40%; }
  .md-three-fifths, .md-six-tenths {
    width: 60%; }
  .md-four-fifths, .md-eight-tenths {
    width: 80%; }
  /* Sixths */
  .md-one-sixth, .md-two-twelfths {
    width: 16.666%; }
  .md-five-sixths, .md-ten-twelfths {
    width: 83.333%; }
  /* Eighths */
  .md-one-eighth {
    width: 12.5%; }
  .md-three-eighths {
    width: 37.5%; }
  .md-five-eighths {
    width: 62.5%; }
  .md-seven-eighths {
    width: 87.5%; }
  /* Tenths */
  .md-one-tenth {
    width: 10%; }
  .md-three-tenths {
    width: 30%; }
  .md-seven-tenths {
    width: 70%; }
  .md-nine-tenths {
    width: 90%; }
  /* Twelfths */
  .md-one-twelfth {
    width: 8.333%; }
  .md-five-twelfths {
    width: 41.666%; }
  .md-seven-twelfths {
    width: 58.333%; }
  .md-eleven-twelfths {
    width: 91.666%; } }

@media only screen and (min-width: 61rem) {
  /* Whole */
  /* Halves */
  .lg-one-half, .lg-two-quarters, .lg-three-sixths, .lg-four-eighths, .lg-five-tenths, .lg-six-twelfths {
    width: 50%; }
  /* Thirds */
  .lg-one-third, .lg-two-sixths, .lg-four-twelfths {
    width: 33.333%; }
  .lg-two-thirds, .lg-four-sixths, .lg-eight-twelfths {
    width: 66.666%; }
  /* Quarters */
  .lg-one-quarter, .lg-two-eighths, .lg-three-twelfths {
    width: 25%; }
  .lg-three-quarters, .lg-six-eighths, .lg-nine-twelfths {
    width: 75%; }
  /* Fifths */
  .lg-one-fifth, .lg-two-tenths {
    width: 20%; }
  .lg-two-fifths, .lg-four-tenths {
    width: 40%; }
  .lg-three-fifths, .lg-six-tenths {
    width: 60%; }
  .lg-four-fifths, .lg-eight-tenths {
    width: 80%; }
  /* Sixths */
  .lg-one-sixth, .lg-two-twelfths {
    width: 16.666%; }
  .lg-five-sixths, .lg-ten-twelfths {
    width: 83.333%; }
  /* Eighths */
  .lg-one-eighth {
    width: 12.5%; }
  .lg-three-eighths {
    width: 37.5%; }
  .lg-five-eighths {
    width: 62.5%; }
  .lg-seven-eighths {
    width: 87.5%; }
  /* Tenths */
  .lg-one-tenth {
    width: 10%; }
  .lg-three-tenths {
    width: 30%; }
  .lg-seven-tenths {
    width: 70%; }
  .lg-nine-tenths {
    width: 90%; }
  /* Twelfths */
  .lg-one-twelfth {
    width: 8.333%; }
  .lg-five-twelfths {
    width: 41.666%; }
  .lg-seven-twelfths {
    width: 58.333%; }
  .lg-eleven-twelfths {
    width: 91.666%; } }

@media only screen and (min-width: 90rem) {
  /* Whole */
  /* Halves */
  .xl-one-half, .xl-two-quarters, .xl-three-sixths, .xl-four-eighths, .xl-five-tenths, .xl-six-twelfths {
    width: 50%; }
  /* Thirds */
  .xl-one-third, .xl-two-sixths, .xl-four-twelfths {
    width: 33.333%; }
  .xl-two-thirds, .xl-four-sixths, .xl-eight-twelfths {
    width: 66.666%; }
  /* Quarters */
  .xl-one-quarter, .xl-two-eighths, .xl-three-twelfths {
    width: 25%; }
  .xl-three-quarters, .xl-six-eighths, .xl-nine-twelfths {
    width: 75%; }
  /* Fifths */
  .xl-one-fifth, .xl-two-tenths {
    width: 20%; }
  .xl-two-fifths, .xl-four-tenths {
    width: 40%; }
  .xl-three-fifths, .xl-six-tenths {
    width: 60%; }
  .xl-four-fifths, .xl-eight-tenths {
    width: 80%; }
  /* Sixths */
  .xl-one-sixth, .xl-two-twelfths {
    width: 16.666%; }
  .xl-five-sixths, .xl-ten-twelfths {
    width: 83.333%; }
  /* Eighths */
  .xl-one-eighth {
    width: 12.5%; }
  .xl-three-eighths {
    width: 37.5%; }
  .xl-five-eighths {
    width: 62.5%; }
  .xl-seven-eighths {
    width: 87.5%; }
  /* Tenths */
  .xl-one-tenth {
    width: 10%; }
  .xl-three-tenths {
    width: 30%; }
  .xl-seven-tenths {
    width: 70%; }
  .xl-nine-tenths {
    width: 90%; }
  /* Twelfths */
  .xl-one-twelfth {
    width: 8.333%; }
  .xl-five-twelfths {
    width: 41.666%; }
  .xl-seven-twelfths {
    width: 58.333%; }
  .xl-eleven-twelfths {
    width: 91.666%; } }

.hruled {
  margin-bottom: 1em;
  position: relative;
  top: -10px;
  text-align: center; }
  @media only screen and (min-width: 35rem) {
    .hruled {
      line-height: 20px;
      border-bottom: 2px solid #ccc; } }

.hruled__content {
  background: #FFF;
  position: relative;
  bottom: -10px;
  font-size: inherit;
  padding: 0 .25em; }
  @media only screen and (min-width: 48rem) {
    .hruled__content {
      padding: 0 1.25em; } }

.icon {
  margin-left: 5px;
  vertical-align: sub; }

/* ==========================================================================
    ROWS
   ========================================================================== */
.row {
  position: relative;
  overflow: auto;
  width: 100%; }

.compact {
  font-family: arial;
  font-size: 0.813em;
  margin-top: 0.5em; }

.cp-primary {
  color: #99CA3E; }

.cp-secondary {
  color: #2370A9; }

/* ==========================================================================
    CONTENT WRAPPER
   ========================================================================== */
.wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  max-width: 60rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  position: relative;
  width: 100%; }
  .wrapper.full {
    max-width: none; }

/* VIEWS */
/* ========================================================================== */
/* VENDOR */
/* ========================================================================== */
