.card {
	@extend .margin-off;

	background-color: white;
	box-shadow: 0 0 2px rgba(0,0,0, 0.36);
	padding: 1.25em 1.5em;
	position: relative;
	width: 100%;
}

.card--up-half {
	top: -0.4em;
}

.card--grid-md-md {

	@include mq(md) {
		height: 15.625rem;
		padding: 0.75rem 1.25rem;
	}
}

.card--grid-lg-md {

	@include mq(lg) {
		height: 15.625rem;
		padding: 0.75rem 1.25rem;
	}
}


.card--primary {
	background-color: $primary-color;
	color: white;

	.card__heading {
		color: white;
	}
}

.card--round {
	border-radius: 10px;
}

.card__heading {
	border-bottom: 2px solid $border-color;
	padding-bottom: 0.5em;
	text-align: center;
}

.card__section {
	font-size: 0.813em;
	text-align: left;
}

.card__section--left {

	
	@include mq(sm) {

		border-right: 2px solid $border-color;
		float: left;
		padding-right: 1.25em;
		margin-top: 0;
	}
}

.card__section--right {
	margin-top: 2em;

	@include mq(sm) {

		float: left;
		padding-left: 1.25em;
		margin-top: 0;
	}
}

.card__section-div {
	border-bottom: 2px solid $border-color;
	list-style-type: none;
	overflow: auto;
	padding-bottom: 0.75em;

	&:last-of-type {
		border-bottom: 0;
		padding-bottom: 0;
	}
}

.card-btn {
	background-color: #545454;
	color: white;
	border-radius: 0.625em;
	display: block;
	font-family: ubuntu;
	font-size: 1rem;
	padding: 1em 0.2em;
	text-align: center;
	text-transform: uppercase;

	&:hover {
		background-color: darken(#545454, 10);
		color: white;
	}
}

.card__btn--primary {
	background-color: $primary-color;
	color: white;

	&:hover {
		background-color: darken($primary-color, 10);
		color: white;
	}
}

.card-btn__img {
	margin-left: 5px;
}

.card-job {
	line-height: 1.3;
}

.card-job__img {
	margin-right: 0.313rem;
}

.card-job__heading {
	font-family: $root-family;
	font-size: 1em;
	margin-top: 0;
	text-transform: none;
}

.card-job__desc {
	@extend .margin-off;

	color: $root-color;
}