.cta {
	display: inline-block;
	font-family: ubuntu;
	line-height: 1;
	padding: 1em 0.75em;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
}

.cta--full {
	width: 100%;
}

.cta--dark {
	background-color: #353535;
	color: #ccc;
}

.cta--primary {
	background-color: $primary-color;
	color: #fff;
}

.cta--round {
	border-radius: 100%;
	
	height: 2.5em;
	padding: 0;
	width: 2.5em;
}

.cta--rounded {
	border-radius: 5px;
}

.cta--icon {
	background-position: center;
	background-repeat: no-repeat;
}

.cta--twitter {
	background-image: url("/images/twitter.png");
}

.cta__icon {
	margin-left: 0.313em;
}