.cta-form {
	border: 1px solid #ccc;

	& > * {
		@extend .margin-off;
	}

	@include mq(lg) {
		height: 3.25em;
		line-height: 3.25em;
		padding: 0;
	}
}

.cta-form__form {
	padding: 1em;

	@include mq(lg) {
		height: 3.25em;
		line-height: 3.25em;
		padding: 0 1em;
	}
}

.cta-form__item {
	@extend .margin-off-all;

	float: left;
}

.cta-form__form-group {
	@extend .margin-off-all;

	margin-top: 1em;

	&:first-of-type {
		margin-top: 0;
	}

	@include mq(sm) {
		display: inline-block;
		margin-top: 0;
	}
}

.cta-form__label {
	display: block;
	text-transform: uppercase;
	vertical-align: middle;

	@include mq(sm) {
		display: inline-block;
	}
}

.cta-form__input {
	border-bottom: 1px dotted;
	font-family: arial;
	font-size: 0.813em;
	margin-right: 1.250em;
	padding: 0.3em 0;
	width: 10rem;
}

.cta-form--up-half {
	top: -0.5em;
}

.cta-form__btn {
	background-color: #ccc;
	color: white;
	cursor: pointer;
	display: block;
	font-family: ubuntu;
	font-size: 1em;
	height: 100%;
	line-height: 1.5;
	padding: 0.875em 1em;
	text-align: center;
	text-transform: uppercase;
	width: 100%;

	&:hover {
		background-color: darken(#ccc, 10);
		color: white;
	}
}

.cta-form__btn--primary {
	background-color: $primary-color;

	&:hover {
		background-color: darken($primary-color, 10)
	}
}