
/* ==========================================================================
    FORMS
   ========================================================================== */

button::-moz-focus-inner { 
    border: 0; 
    padding: 0; 
    margin-top:-1px; 
    margin-bottom: -1px; 
}