
/* ==========================================================================
    INLINE GRID
   ========================================================================== */

.grid-wrapper {
    @extend .clearfix; 

    margin-left: -$wrapper-padding; 
    width: calc(100% + #{$wrapper-padding-2});

    @include mq(lg) {
        margin-left: -$wrapper-padding-lg; 
        width: calc(100% + #{$wrapper-padding-lg-2});
    }
}

.grid-item {
    @extend .margin-off;

    float: left;
    padding-left: $wrapper-padding;
    padding-right: $wrapper-padding;
    width: 100%;

    @include mq(lg) {
        padding-left: $wrapper-padding-lg;
        padding-right: $wrapper-padding-lg;
    }
}

.grid-item--card {
    margin-top: $wrapper-padding-2;

    @include mq(lg) {
        margin-top: $wrapper-padding-lg-2;
    }
}

// Fixed widths
.grid-item--sm {
    @include mq(lg) {
        width: 13.125rem !important;
    }
}

.grid-item--md {
    @include mq(lg) {
        width: 20.625rem !important;
    }
}

.grid-item--lg {
    @include mq(lg) {
        width: 26.875rem !important;
    }
}

//Percentage widths
@mixin grid-setup($namespace: "") {

    /* Whole */
//    .#{$namespace}one-whole         { width:100%; }

    /* Halves */
    .#{$namespace}one-half          { width:50%; }

    /* Thirds */
    .#{$namespace}one-third         { width:33.333%; }
    .#{$namespace}two-thirds        { width:66.666%; }

    /* Quarters */
    .#{$namespace}one-quarter       { width:25%; }
    .#{$namespace}two-quarters      { @extend .#{$namespace}one-half; }
    .#{$namespace}three-quarters    { width:75%; }

    /* Fifths */
    .#{$namespace}one-fifth         { width:20%; }
    .#{$namespace}two-fifths        { width:40%; }
    .#{$namespace}three-fifths      { width:60%; }
    .#{$namespace}four-fifths       { width:80%; }

    /* Sixths */
    .#{$namespace}one-sixth         { width:16.666%; }
    .#{$namespace}two-sixths        { @extend .#{$namespace}one-third; }
    .#{$namespace}three-sixths      { @extend .#{$namespace}one-half; }
    .#{$namespace}four-sixths       { @extend .#{$namespace}two-thirds; }
    .#{$namespace}five-sixths       { width:83.333%; }

    /* Eighths */
    .#{$namespace}one-eighth        { width:12.5%; }
    .#{$namespace}two-eighths       { @extend .#{$namespace}one-quarter; }
    .#{$namespace}three-eighths     { width:37.5%; }
    .#{$namespace}four-eighths      { @extend .#{$namespace}one-half; }
    .#{$namespace}five-eighths      { width:62.5%; }
    .#{$namespace}six-eighths       { @extend .#{$namespace}three-quarters; }
    .#{$namespace}seven-eighths     { width:87.5%; }

    /* Tenths */
    .#{$namespace}one-tenth         { width:10%; }
    .#{$namespace}two-tenths        { @extend .#{$namespace}one-fifth; }
    .#{$namespace}three-tenths      { width:30%; }
    .#{$namespace}four-tenths       { @extend .#{$namespace}two-fifths; }
    .#{$namespace}five-tenths       { @extend .#{$namespace}one-half; }
    .#{$namespace}six-tenths        { @extend .#{$namespace}three-fifths; }
    .#{$namespace}seven-tenths      { width:70%; }
    .#{$namespace}eight-tenths      { @extend .#{$namespace}four-fifths; }
    .#{$namespace}nine-tenths       { width:90%; }

    /* Twelfths */
    .#{$namespace}one-twelfth       { width:8.333%; }
    .#{$namespace}two-twelfths      { @extend .#{$namespace}one-sixth; }
    .#{$namespace}three-twelfths    { @extend .#{$namespace}one-quarter; }
    .#{$namespace}four-twelfths     { @extend .#{$namespace}one-third; }
    .#{$namespace}five-twelfths     { width:41.666% }
    .#{$namespace}six-twelfths      { @extend .#{$namespace}one-half; }
    .#{$namespace}seven-twelfths    { width:58.333%; }
    .#{$namespace}eight-twelfths    { @extend .#{$namespace}two-thirds; }
    .#{$namespace}nine-twelfths     { @extend .#{$namespace}three-quarters; }
    .#{$namespace}ten-twelfths      { @extend .#{$namespace}five-sixths; }
    .#{$namespace}eleven-twelfths   { width:91.666%; }
}


@include mq(sm) {
    @include grid-setup("sm-");
}

@include mq(md) {
    @include grid-setup("md-");
}

@include mq(lg) {
    @include grid-setup("lg-");
}

@include mq(xl) {
    @include grid-setup("xl-");
}