.hruled {
    margin-bottom: 1em;
    position: relative;
    top: -10px;
    text-align:center;

    @include mq(sm) {
        line-height:20px;
        border-bottom:2px solid #ccc;
    }
}

.hruled__content {
	background:#FFF;
    position:relative;
    bottom:-10px;
    font-size: inherit;
    padding:0 .25em;

    @include mq(md) {
        padding:0 1.25em;
    }
}