
/* ==========================================================================
    CONTENT WRAPPER
   ========================================================================== */

.wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    max-width: $wrapper-width;
	padding-left: $wrapper-padding;
	padding-right: $wrapper-padding;
    position: relative;
	width: 100%;

    &.full {
        max-width: none;
    }
}