.small-text {
	font-size: $small-size;
}
.smaller-text {
	font-size: $smaller-size;
}

.large-text {
	font-size: $large-size !important;
}
.larger-text {
	font-size: $larger-size !important;
}

.center-text {
	text-align: center;
}

.float-left {
	float: left;
}
.float-right {
	float: right;
}

.clearfix {
	@include clearfix;
}

/* Stop lobotomising one owl */
.margin-off {
    margin-top: 0;
}

/* Stop lobotomising all owls */
.margin-off-all {

    &,
    > * {
	    margin-top: 0;
	}
}

.margin-sm-on {

	@include mq(sm) {
		margin-top: 1em;
	}

	@include mq(md) {
		margin-top: 0;
	}
}

.margin-md-on {

	@include mq(md) {
		margin-top: 1em;
	}

	@include mq(lg) {
		margin-top: 0;
	}
}

/* Vertically and horizontally center a thing */
.center {
    @include center;
}

.vis-none {
	visibility: hidden;
}