.browsehappy {
	display:block;
	width:100%;
	height:100px;
	background-color:#f2dede;
	margin: 0 0 10px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 22px;
	line-height: 1.4;
	color: #333;
	vertical-align:middle;
}
.browsehappy span{
	vertical-align:middle;
	margin:20px 20px 20px 20px;
	background:url("https://cdn.rawgit.com/alrra/browser-logos/master/internet-explorer/internet-explorer_64x64.png") no-repeat;
	height:64px;
	width:64px;
	display:inline-block;
}