
/* ==========================================================================
    FOOTER
   ========================================================================== */

.page-footer {
	@extend .margin-off-all;

	
	background-color: #292929;
	color: #fff;
	padding-bottom: 1.813rem;
	padding-top: 1.813rem;
	position: relative;
}

.page-footer__back-to-top {
	position: absolute;
	top:1em;
	right: 1em;
}

.page-footer__heading {
	color: #fff;
}

.page-footer__nav {

	li {
		@extend .margin-off;

		display: inline-block;
		font-size: 0.813rem;

		&:after {
			content: "|";
			margin-left: 0.313rem;
			margin-right: 0.313rem;
		}

		&:last-of-type {
			&:after {
				display: none;
			}
		}

		a {
			color: white;

			&:hover {
				color: $primary-color;
			}
		}
	}
}

.page-footer__copyright {
	color: #ccc;
	font-size: 0.688rem;

	a {
		color: #fff;

		&:hover {
			color: $primary-color;
		}
	}
}