/* ==========================================================================
    HEADER
   ========================================================================== */

.page-header {
	@extend .margin-off-all;

	position: relative;
	background-color: #292929;
}

.page-header__brand {
	display: inline-block;
	padding-top: 4.781em;
}

.page-header__secondary-nav {
	@extend .margin-off-all;

	position: absolute;
	right: $wrapper-padding;
	top: $wrapper-padding;

	& > * {
		margin-left: .5em;
	}

	@include mq(md) {
		top: 1.5em;

		& > * {
			margin-left: 1em;
		}
	}
}

.page-header__main-nav {
	@extend .clearfix;

	line-height: 1.313em;
	padding-bottom: 1.125em;

	@include mq(lg) {
		margin-top: 2.5em;
	}
}
